name: macOS

on:
  pull_request:
  push:
    branches:
      - dev
      - release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-macos:
    name: build-macos
    runs-on: macos-11
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18.3'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run unit tests
        run: go test
      - name: "Run macOS smoke tests"
        run: make smoketest-macos
